<%= render 'article_search_form'%>
<ul>
  <% @articles.each do |article| %>
    <li><%= article['source']['name'] %></li>
    <li><%= article['author'] %></li>
    <li><%= article['title'] %></li>
    <li><%= article['description'] %></li>
    <li><%= article['urlToImage']%></li>
    <li><%= article['publishedAt']%></li>
    <li><%= article['content']%></li>
    <% if article['content'] == nil %>
      <%= link_to 'Watch Video', article['url'] %>
    <% else %>
      <%= link_to 'Read More', article['url'] %>
    <% end %>
  <% end %>
</ul>